@font-face {
  font-family: 'ATTAleckSans-Regular';
  src: url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Rg.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Rg.woff') format('woff'), /* Pretty Modern Browsers */
  url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Rg.ttf') format('truetype'), /* Safari, Android, iOS */
  url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Rg.svg') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'ATTAleckSans-Light';
  src: url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Lt.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Lt.woff') format('woff'), /* Pretty Modern Browsers */
  url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Lt.ttf') format('truetype'), /* Safari, Android, iOS */
  url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Lt.svg') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Aleck_Thin';
  src: url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Th.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Th.woff') format('woff'), /* Pretty Modern Browsers */
  url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Th.ttf') format('truetype'), /* Safari, Android, iOS */
  url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Th.svg') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'ATTAleckSans-Medium';
  src: url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Md.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Md.woff') format('woff'), /* Pretty Modern Browsers */
  url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Md.ttf') format('truetype'), /* Safari, Android, iOS */
  url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Md.svg') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'ATTAleckSans-Bold';
  src: url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Bd.eot');
  /* IE9 Compat Modes */
  src: url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Bd.woff') format('woff'), /* Pretty Modern Browsers */
  url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Bd.ttf') format('truetype'), /* Safari, Android, iOS */
  url('https://cdn.directv.com/content/dam/dtv/gmott/dev/osprey/fonts/ATTAleckSans_W_Bd.svg') format('svg');
  /* Legacy iOS */
}

body,html {
	width: 100%;
    height: 100%;
    background-color: #000;
	margin: 0px;
}

li{
	color:#000;
}
.Rectangle-2 {
  width: inherit;
  height: auto;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(126deg, #008cf6, #3822e7);
  border-image-slice: 1;
}

.Rectangle-2-yourinfo
{
  width: inherit;
  height: inherit;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(126deg, #008cf6, #3822e7);
  border-image-slice: 1;
}
.Rectangle-2-confirmation{
  width: inherit;
  height: inherit;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(126deg, #008cf6, #3822e7);
  border-image-slice: 1;
}
.overlay {
    background: #e9e9e9;  
    display: none;        
    position: absolute;   
    top: 0;                 
    right: 0;                
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
a#waitlist {
    cursor: pointer;
}
a#letsdo {
    cursor: pointer;
}
.loaderImage{
	src:http://cdn.directv.com/content/dam/dtv/gmott/osprey/images/lazyLoader.gif;
    display: none;        
    position: absolute;   
    top: 0;                 
    right: 0;                
    bottom: 0;
    left: 0;
}
.section{
  position: relative;
  margin-top: 92px;
}
.Please-review-and-ac >a {
	color:#9b9b9b;
	cursor: pointer;
	text-decoration: underline;
	}
.section-left{
  margin-left: 187px;
  float:left;
}
.DTVN_Logo img{
  width: 82px;
  height: 54px;
}

.icon-sign{
  padding-top: 90px;
	}
	
.clear{
	clear:both;
}	

.image-icon{
  float:left;
  position: absolute;
  left: 3px;
  top: 0;
  padding-top: 90px;
	}
	
.info-in{
  float: left;
  padding-left: 30px;
  position: absolute;
  top: 0;
  padding-top: 87px;
}	
.section-right{
  padding-left: 290px;
}
.SIGN-UP-FOR-A-CHANCE p{
  width: 800px;
  height: 138px;
  font-family: ATTAleckSans-Bold;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: -0.8px;
  color: #008cf6;
  margin: 0 !important;
}

.container{
    margin-right: 0 !important; 
    margin-left: 0 !important; 
    padding-left: 15px;
    padding-right: 15px;
	padding-bottom: 150px;
}
.process {
    list-style: outside none none;
    margin-top: 90px;
    padding: 0;
}

.Line {
  width: 2px;
  height: 221px;
  object-fit: contain;
  border: solid 1px #4a4a4a;
  background-repeat: no-repeat;
  list-style: outside none none;
    margin-top: 92px;
    padding: 0;
	position:relative;
}

.Line img {
    height: 204px;
	}

.Group-3 img{
  /*width: 25px;*/
  height: 20px;
  object-fit: contain;
  text-align: center;
  padding-left: 2px;
}

.Sign-in {
  width: 57px;
  height: 24px;
  font-family: ATTAleckSans-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.top-46{
	width: 638px;
	padding-top: 44px;
	padding-left: 0px;
	display: -webkit-inline-box;
}

.padding-left-0{
	padding-left:0px;
	}

.padding-top-20{
	padding-top: 46px;
	}	
	
.li-gap
{
  padding-top: 46px;
}

.padding-top-48{
  padding-top: 48px;
}

.padding-top-50{
  padding-top: 50px;
}

.fill-dot {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.phoneNo {
    width: auto;
    height: 48px;
    font-family: ATTAleckSans-Light;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #f3f3f3;
    margin-top: 20px;
    background: none;
    border: 0;
}

.Welcome {
  width: 78px;
  height: 24px;
  font-family: ATTAleckSans-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dfdfdf;
}

.Your-info {
  width: 80px;
  height: 24px;
  font-family: ATTAleckSans-Medium;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dfdfdf;
}

.Confirmation {
  width: 109px;
  height: 24px;
  font-family: ATTAleckSans-Medium;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dfdfdf;
}

.remote{
	height: 400px;
}

.remote img {
    width: 600px;
}

.With-our-new-beta-yo p {
  width: 650px;
  font-family: ATTAleckSans-Light;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #ffffff;
}

.WHAT-YOU-CAN-EXPECT {
  width: 439px;
  height: 18px;
  font-family: ATTAleckSans-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 44px;  
}

.Chart_Checkmark_Icon_DTVN_Blue img{
  width: 23px;
  height: 17px;
  object-fit: contain;
  padding-left: 0px;
}


.Power-up-your-TV-and {
  width: auto;
  height: auto;
  font-family: ATTAleckSans-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.While-we-cant-promi {
  width: 650px;
  height: 44px;
  font-family: ATTAleckSans-Light;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 35px;  
}

.Rectangle-Copy {
  width: 250px;
  height: 52px;
  border-radius: 26px;
  background-color: #008cf6;
  margin-top: 150px;	
  margin-bottom:150px;
}

.LETS-DO-THIS {
  width: 124px;
  height: 14px;
  font-family: ATTAleckSans-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: normal;
  color: #ffffff;
  margin: auto;
  padding-top: 20px;
}

/*Your-Info*/

.We-just-need-a-littl p {
  width: 595px;
  height: 92px;
  font-family: ATTAleckSans-Bold;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  color: #008cf6;
  margin: 0 !important;
}

textarea:focus, input:focus{
  outline: none;
}
.First-name {
  width: auto;
  height: 48px;
  font-family: ATTAleckSans-Light;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f3f3f3;
  margin-top: 50px;
  background: none;
  border: 0;
}
.Line-2 {
  width: 568px;
  height: 0px;
  /*border: solid 1px #ffffff;*/
  border:solid 1px #9b9b9b
}

.Line-2-Copy {
  width: 568px;
  height: 0px;
  border: solid 1px #9b9b9b;
}
.Last-name {
  width: auto;
  height: 48px;
  font-family: ATTAleckSans-Light;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f3f3f3;
  margin-top: 40px;
  background: none;
  border: 0;
}

.Email {
  width: auto;
  height: 48px;
  font-family: ATTAleckSans-Light;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f3f3f3;
  margin-top:40px;
  background: none;
  border: 0;	
}

.Well-use-this-as-yo {
  width: 307px;
  height: 12px;
  font-family: ATTAleckSans-Regular;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: normal;
  color: #d0021b;
  margin-top: 18px;
}	

.Street-address {
  width: auto;
  height: 48px;
  font-family: ATTAleckSans-Light;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f3f3f3;
  margin-top: 40px;
  background: none;
  border: 0;
}

.Apt- {
  width: auto;
  height: 48px;
  font-family: ATTAleckSans-Light;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f3f3f3;
  margin-top: 40px;
  background: none;
  border: 0;
}

.City {
  width: auto;
  height: 48px;
  font-family: ATTAleckSans-Light;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f3f3f3;
  background: none;
  border: 0;
  margin-top: 40px;	
}

.State {
  width: auto;
  height: 48px;
  font-family: ATTAleckSans-Light;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f3f3f3;
  background: none;
  border: 0;
  margin-top: 40px;		
}

.ZIP {
  width: auto;
  height: 48px;
  font-family: ATTAleckSans-Light;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f3f3f3;
  background: none;
  border: 0;
  margin-top: 40px;
}

.Line-2-Copy-6 {
  width: 247px;
  height: 0px;
  border: solid 1px #9b9b9b;
}

.Line-2-Copy-7 {
  width: 318px;
  height: 0px;
  border: solid 1px #9b9b9b;
}

.display-state{
	float: left;
    width: 188px;
}

.display-zip{
	padding-left: 70px;
	 width: 188px;
	 float: left;
}

.TERMS-OF-USE {
  width: 141px;
  height: 24px;
  font-family: ATTAleckSans-Light;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #9b9b9b;
  margin-top: 58px;
}

.Please-review-and-ac {
  width: 533px;
  height: 70px;
  font-family: ATTAleckSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #9b9b9b;
  margin-top: 12px;
}
input[type="checkbox"]{
	background-color: #000;
}
.Rectangle {
  width: 22px;
  height: 22px;
  border: solid 1px #b4b4b4;
  float: left;
  margin-top: 29px;
 
  border: 0;
}

input[type=checkbox] {
	margin-top: 30px;
	background-color: #000;
}

input[type=checkbox] {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	 width: 22px;
	height: 22px;
//	margin: 0;
	margin-right: 1px;
	display: block;
	float: left;
	position: relative;
	cursor: pointer;
}

input[type='checkbox']:after {
	content: "";
	vertical-align: middle;
	text-align: center;
	line-height: 20px;
	position: absolute;
	cursor: pointer;
	 width: 22px;
	height: 22px;
	left: 0;
	top: 0;
	font-size: 10px;
	 border: solid 1px #b4b4b4;
	background: #000;
}

input[type='checkbox']:hover:after, input[type='checkbox']:checked:hover:after {
	content: '\2714';
	color: #fff;
}

input[type='checkbox']:checked:after {
	content: '\2714';
	color: #fff;
}

.I-accept {
  width: 90px;
  height: 14px;
  font-family: ATTAleckSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #b4b4b4;
  float: left;
  margin-top: 35px;
  padding-left:10px;
}

.Check-the-box-to-acc {
  width: 388px;
  height: 16px;
  font-family: ATTAleckSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #d0021b;
  margin-top: 24px;
}

.Rectangle-Copy-1 {
  width: 250px;
  height: 52px;
  border-radius: 26px;
  background-color: #303030;
  margin-top: 50px;
}

.JOIN-THE-WAITLIST {
  width: 166px;
  height: 14px;
  font-family: ATTAleckSans-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: normal;
  color: #777777;
  margin: auto;
  padding-top: 20px;
}

/*Confirmation*/
.Youre-all-set P {
  width: 665px;
  height: 48px;
  font-family: ATTAleckSans-Bold;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #008cf6;
  margin-top: 0 !important;
}

.Well-get-back-to-yo p {
  width: 600px;
  height: 90px;
  font-family: ATTAleckSans-Regular;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #ffffff;
  margin-top:80px;
}

.SEE-WHATS-ON {
  width: 135px;
  height: 14px;
  font-family: ATTAleckSans-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: normal;
  color: #ffffff;
  margin: auto;
  padding-top: 20px;
}

hr{
  display:none;
}

@media screen and (min-width: 1024px) and (max-width: 1915px) {
.Rectangle-2 {
  width: inherit ;
  height: auto;
	}
	
.section{
  margin-top: 52px;
	}

.section-left{
  margin-left: 73px;
	}	
	
.section-right{
  padding-left: 117px;
  margin-right: 76px;
	}	
	
.With-our-new-beta-yo p {
   width: 650px;
	}
	
/*.li-gap {
    width: 610px;
	}*/	
	
.Rectangle-Copy {
  margin-top: 150px;	
  margin-bottom: 150px;	

	}	
	
.While-we-cant-promi {
  padding-top: 37px;  
	}
.info-in{
  padding-left: 20px;
	}	

.SIGN-UP-FOR-A-CHANCE p {
  width: 666px;
  height: 138px;
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: -0.8px;
  color: #008cf6;
	}	

.WHAT-YOU-CAN-EXPECT {
  width: 650px;	
  padding-top: 50px;
	}
.top-46 {
    width: 610px;
    padding-top: 40px;
    padding-left: 0px;
	display: -webkit-inline-box;
	}
	
.padding-left-0{
	padding-left:0px;
	}

.padding-top-20{
	padding-top: 46px;
  }	
  
  hr{
    display: none;
  }
	
	
}	

@media screen and (min-width: 700px) and (max-width: 1023px)  {
	
.DTVN_Logo{
	padding-left: 0px;
	padding-right: 0px;
	}
  .Rectangle-2-yourinfo{
    /* width: inherit;
    height: auto;*/
  } 

  .Rectangle-2-confirmation{
    width: inherit;
    height: inherit;
  }

  .container{
    height: 100%;
    overflow-y: auto;
	width:100%;
	padding-bottom: 50px;
}
.section {
    margin: 50px;
  }
.We-just-need-a-littl p{
	width:100%
}
  li.padding-top-48 span.Group-3 img {
    padding-left: 0px;
  }
	
ul.process li{
	display: inline;
	}
	
.icon-sign {
    margin-top: 0px;
	margin-left: 0px;
}
.image-icon {
    float: none;
    position: absolute;
    /*left: 65px;*/
    top: 10px;
    padding-top: 90px;
	width:100%;
	}	
	
.info-in {
	float: none;
	padding-left: 0px;
	position: unset;
	padding-top: 0px;
}	

.First-name {
    width: 100%;
	}
.Line-2{
	width: 100%;
	}
.Last-name{
	width: 100%;
}
.Line-2-Copy{
	width: 100%;
}
.Email{
	width:100%;
}
.phoneNo {
    width: 100%;
}
.Street-address{
	width:100%;
	margin-top: 40px;
}
.Apt-{
	width:100%;
}
.display-state {
    width: 50%;
	Padding-right:20px;
}
.State {
    width: 100%;
}
.Line-2-Copy-6 {
    width: 100%;
}
.display-zip{   
	width: 50%;
	padding-left: 20px; 
}
.ZIP {
    width: 100%;
}
.Line-2-Copy-7 {
    width: 100%;
}

.Line{
	margin-top: 0px;
	display: none;
}

.process {
     margin-top: 0px; 
    /* padding: 0; */
}

span.Group-3 img {
    width: 23%;
}

li span.Welcome {
   
	padding-left: 40px; 
    width: 23%;
    display: inline-block;
}

li span.Your-info {
    padding-left: 35px; 
    width: 23%;
    display: inline-block;
}

li span.Confirmation {
	padding-left: 40px;
    width: 23%;
    display: inline-block;
}

li.padding-top-48.checkicon span.Group-3 img {
  /*padding-left: 40px;*/
}
.SIGN-UP-FOR-A-CHANCE {
    padding-top: 64px;
}
li span.Sign-in {
    /*padding-left: 23px;*/
	padding-left: 45px;
    width: 23%;
    display: inline-block;
}

.section-left {
    margin-left: 0px;
	padding-left: 0px;
    padding-right: 0px;
}

.section-right {
    padding-left: 0px;
	width:100%;
    padding-right: 0px;
}

.SIGN-UP-FOR-A-CHANCE p {
  width: 100%;
  height: 184px;
  font-size: 46px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #008cf6;
	}
.remote {
    text-align: center;
}
.remote img {
    width: 600px;
    height: 337px;
}

.With-our-new-beta-yo p {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}	

.WHAT-YOU-CAN-EXPECT {
  width: 600px;
  height: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
	}
	
.Power-up-your-TV-and {
  width: 562px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
  color: #ffffff;
	}	

.While-we-cant-promi {
  width: 100%;
  height: 48px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
   padding-top:28px;  
	}	

.Rectangle-Copy {
  width: 280px;
  height: 52px;
  margin-top: 120px;
  }

  .Youre-all-set P {
    width: 100%;
    height: 26px;
    font-family: ATTAleckSans-Bold;
    font-size: 46px;
    letter-spacing: -0.8px;
	margin-top: 50px ! important;
}
.Check-the-box-to-acc{
	width: 100%;
}

.Well-get-back-to-yo p{
	width: 100%;
}
 .Please-review-and-ac {
    width: 100%;
    height: 70px;
    font-size: 16px;
 }
 
hr{
  object-fit: contain;
  border: solid 1px #4a4a4a;
  background-repeat: no-repeat;
  list-style: outside none none;
  text-align: center;
  position: relative;
  /*width: 70%;
  right: 21px;*/
  width: 100%;
  display: block;
}
  
}


@media screen and (min-width: 320px) and (max-width: 699px) {
.Rectangle-2 {
  width: inherit;
  height: auto;
  }
  
  .Rectangle-2-yourinfo {
    /* width: auto;
    height: auto; */
  }

  .Rectangle-2-confirmation{
    width: inherit;
    height: inherit;
  }

  .container{
    height: 100%;
    overflow-y: auto;
	padding-bottom: 100px;
}
 ul.process li{
	display: inline;
	}
.section-left{
  margin-left: 0px;	
  padding-left: 0px;
  padding-right: 0px;
	}
	
.section-right{
  padding-left: 20px;
  padding-right: 20px;
	}	
.Rectangle-Copy {
    width: 100%;
	margin-top: 80px;
	}
.DTVN_Logo {
    padding-left: 20px;
	}
.remote {
    text-align: center;
	height:150px;
}
.section{
  margin: 20px;
	}	

.icon-sign {
    margin-top: 90px;
	}	
	
.process {
     margin-top: 0; 
    padding: 0;
	}

span.Group-3 img {
    /*width: 72px;*/
	width:23%;
	}

li span.Welcome {
    padding-left: 7px;
	}	

li span.Your-info {
    padding: 3px;
	}	
	
.SIGN-UP-FOR-A-CHANCE p {
    width: 100%;
    height: 123px;
    font-family: ATTAleckSans-Bold;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.6px;
    color: #008cf6;
    margin-top: 0 !important;
}

.remote img {
    width: 280px;
    /*height: 337px;*/
	}	

.With-our-new-beta-yo p {
  width: 100%;
  font-family: ATTAleckSans-Light;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
	}	
.WHAT-YOU-CAN-EXPECT {

  width: 278px;

  height: 19px;

  font-family: ATTAleckSans-Bold;

  font-size: 18px;

  font-weight: bold;

  font-style: normal;

  font-stretch: normal;

  line-height: 1;

  letter-spacing: -0.5px;

  color: #ffffff;

}

.top-46 {
    width: 243px;
    padding-top: 20px;
    padding-left: 0px;
	list-style-type: none;
	display: -webkit-inline-box;
}	

.Power-up-your-TV-and {
	width: auto;
	height:auto;
    padding-top: 20px;
    padding-left: 0px;
	list-style-type: none;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: -0.6px;
  color: #ffffff;
}

.While-we-cant-promi {
  width: 100%;
  height: 80px;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 29px;
}

.Sign-in {
    font-size: 12px;
	width: 25%;
    display: inline-block;
	padding-left:20px;
	}
	
.Welcome {
	font-size: 12px;
	width: 24%;
    display: inline-block;
}	

.Your-info {
	font-size: 12px;
	width: 23%;
    display: inline-block;
}

.Confirmation {
	font-size: 12px;
	width: 23%;
    display: inline-block;
}

.info-in {
    float: left;
    padding-left: 0px; 
	position: unset;
	padding-top: 10px;
	/*chida*/
	width:100%;
	}
	
.image-icon {
  float: none;
  position: absolute;
  top: 80px;
  padding-top: 0px;
  width:100%;
  }		
  
  hr{
    object-fit: contain;
    border: solid 1px #4a4a4a;
    background-repeat: no-repeat;
    list-style: outside none none;
    text-align: center;
    position: relative;
    width: 100%;
    display: block;
	top:17px;
  }
	
.Line{
	margin-top: 0px;
	display: none;
	}

.icon-sign {
    margin-top: 0px;
	padding-top: 0px;
	}	

.padding-left-0{
	padding-left:0px;
	}

.padding-top-20{
	padding-top: 20px;
  }	
  
  /*your-info*/

  .We-just-need-a-littl p{
    width: 100%;
    height: 56px;
    font-family: ATTAleckSans-Bold;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.5px;
    color: #008cf6;
   } 

   .First-name {
    width: 100%;
    height: 34px;
    font-family: ATTAleckSans-Light;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #f3f3f3;
  }

  .Line-2 {
    width: 100%;
    height: 0px;
    border: solid 1px #4a4a4a;
    right: 0px;
  }

  .Last-name {
    width: 100%;
    height: 34px;
    font-family: ATTAleckSans-Light;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top:31px;
  }

  .Line-2-Copy {
    width: 100%;
    height: 0px;
    border: solid 1px #4a4a4a;
    right: 0px;
  }

  .Email {
    width: 100%;
    height: 34px;
    font-family: ATTAleckSans-Light;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top: 31px;
  }
  
  .phoneNo {
    width: 100%;
    height: 34px;
    font-family: ATTAleckSans-Light;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top: 11px;
}

  .Well-use-this-as-yo {
    width: 100%;
    height: 16px;
    font-family: ATTAleckSans-Regular;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #d0021b;
  }

  .Street-address {
    width: 100%;
    height: 34px;
    font-family: ATTAleckSans-Light;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top: 31px;
  }

  .Apt- {
    width: 100%;
    height: 34px;
    font-family: ATTAleckSans-Light;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top: 31px;
  }

  .City {
    width: 100%;
    height: 34px;
    font-family: ATTAleckSans-Light;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top: 31px;
  }

  .State {
    /*width: 131px;*/ 
	width:100%;
    height: 34px;  
    font-family: ATTAleckSans-Light;
    font-size: 20px;  
    font-weight: 300;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: 1.4;  
    letter-spacing: normal;  
    color: #9b9b9b;
    margin-top: 31px;
  }

  .ZIP {
    /*width: 131px;*/
	width:100%;  
    height: 34px;  
    font-family: ATTAleckSans-Light;  
    font-size: 20px;
    font-weight: 300;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: 1.4;  
    letter-spacing: normal;  
    color: #9b9b9b;
    margin-top: 31px;
  }

  .display-state {
    float: left;
    /*width: 131px;*/
	padding-right: 10px;
	width:50%;
}

.Line-2-Copy-6 {
  width: 100%;
  height: 0px;
  border: solid 1px #4a4a4a;
  right: 0px;
  }

  .Line-2-Copy-7 {
    width: 100%;
    height: 0px;
    border: solid 1px #4a4a4a;
    right: 0px;
  }

  .display-zip {
    padding-left: 10px;
    /*width: 121px;*/
	width:50%;
    float: left;
  }

  .TERMS-OF-USE {
    width: 280px;
    height: 24px;
    font-family: ATTAleckSans-Light;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top: 32px;
  }

  .Please-review-and-ac {
    width: 100%;
    height: 92px;
    font-family: ATTAleckSans-Regular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top: 12px;
  }

  .Check-the-box-to-acc {
    width: 100%;
    height: 16px;
    font-family: ATTAleckSans-Regular;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #d0021b;
    margin-top: 20px;
  }

  .Rectangle-Copy-1{
    width: 100%;
    height: 52px;
    border-radius: 26px;
    background-color: #303030;
    margin-top: 47px;
  }

  /*confirmation*/
  .Youre-all-set p {

    width: 100%;
  
    height: 32px;
  
    font-family: ATTAleckSans-Bold;
  
    font-size: 28px;
  
    font-weight: bold;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.14;
  
    letter-spacing: -0.6px;
  
    color: #008cf6;
	margin-top: 40px ! important;
  }

  .Well-get-back-to-yo p {

    width: 100%;
  
    height: 128px;
  
    font-family: ATTAleckSans-Regular;
  
    font-size: 16px;
  
    font-weight: 300;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.5;
  
    letter-spacing: normal;
  
    color: #ffffff;
    margin-top: 41px;
  }

  li.padding-top-48.checkicon span.Group-3 img {
   /* padding-left: 30px;*/
  }
}	

@media screen and (min-width: 992px) and (max-width: 1023px){
  .col-md-2{
    width: 100%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .top-46{
    display: -ms-inline-grid;
  }
  
  .Rectangle-2-confirmation {
    width: inherit;
    height: auto;
  }

  .Rectangle-2-yourinfo {
    width: inherit;
    height: auto;
  }
}